* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    min-width: 350px;
    padding: 10px;
}

.login, .register {
    width: 100%;
    max-width: 340px;
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: 10px;
}

.schoolLabel {
    font-weight: 600;
}

.logoImage {
    width: 150px;
    height: 150px;
}
.logoImageNav {
    width: 50px;
    height: 35px;
}

.loginButton, .cancelButton {
    width: 47%;
    height: 47%;
    padding: 15px;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    font-weight: 600;
}

.navbar ul li a:hover {
    background-color: lightgrey;
    color: black !important;
}